*{
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  justify-content: row;
  background-color: #01367c ;
  color: #fb3333;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 50px;
}
.wrapper h1{
  font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:50px;
}
.logo{
  max-width: 200px;
}
.curio{
  position: absolute;
  right: 0%;
  
  
  
}
.content{
  display: flex;
justify-content: center;
align-items:  center;
flex-direction: column;
margin-top: 50px;
}
.content h1{
  color:
  #01367c;
  margin: 15px;
  font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.contentwrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px;
  
}
.opdracht{
  max-width: 1000px;
  border-radius: 5px;
  
  margin: 15px;
  
}
.leraar{
  max-width: 400px;
  border-radius: 5px;
  border: 3px solid #fb3333;
  
}

.content p{
  font-size: x-large;
  max-width: 500px;
  margin: 50px;
  font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #01367c;
}
.foto1{
  max-width: 400px;
  border-radius: 5px;
  border: 3px solid #fb3333;
  

}
.foto2{
  max-width: 400px;
  border-radius: 5px;
  border: 3px solid #fb3333;
  
}

  .footer a{
    color: #fb3333;
    text-decoration: none;
  
  
  }
  .footer{
    background-color: #01367c ;
  }
  .footer p{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .contentwrapper1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#01367c;
    
    
  }
  .content1{
    display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;

  
  margin-top: 50px;
  }
  .content1 h1{
    color:
    #fb3333;
    margin: 10px;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .content1 h1{
    font-family: sans-serif;
    font-weight: bold;
    display: block;
  }
  .content1 p{
    font-size: x-large;
    max-width: 500px;
    margin: 50px;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fb3333;
  }

  .contentwrapper2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
    
  }
  .content2{
    display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;

  
  margin-top: 50px;
  }
  .content2 h1{
    color:
    #01367c;
    margin: 10px;
  }
  .content2 h1{
    font-family: sans-serif;
    font-weight: bold;
    display: block;
  }
  .content2 p{
    font-size: x-large;
    max-width: 500px;
    margin: 50px;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #01367c;
  }

  .vakantie{
    border-radius: 5px;
    margin-left: 25px;
  }