*{
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  justify-content: row;
  background-color: #01367c ;
  color: #fb3333;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 50px;
}
.wrapper h1{
  
  font-size:50px;
}
.logo{
  max-width: 200px;
}

.content{
  display: flex;
justify-content: center;
align-items:  center;
flex-direction: column;

margin-top: 50px;
}
.content h1{
  color:
  #01367c;
  margin: 15px;
}
.contentwrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px;
  
}
.content h1{
  font-family: sans-serif;
  font-weight: bold;
  display: block;
}
.content p{
  font-size: x-large;
  max-width: 500px;
  margin: 50px;
  
  color: #01367c;
}
  .footer{
    background-color: #01367c ;
  }
  .footer p{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
